* text=auto !eol
config-client/pom.xml -text
config-client/src/site/fml/faq.fml -text
config-client/src/site/site.xml -text
config-client/src/site/xdoc/index.xml -text
config-om/pom.xml -text
config-om/src/main/java/com/baxter/config/om/ConfigID.java -text
config-om/src/main/java/com/baxter/config/om/Version.java -text
config-om/src/site/site.xml -text
config-om/src/site/xdoc/index.xml -text
config-om/src/test/java/com/baxter/config/om/TestConfigID.java -text
config-om/src/test/java/com/baxter/config/om/TestVersion.java -text
config-processor-demo/pom.xml -text
config-processor-demo/src/main/resources/META-INF/config/default/group1/sample2.xml -text
config-processor-demo/src/main/resources/META-INF/config/default/sample1.xml -text
config-processor-demo/src/main/resources/META-INF/config/xsl/simple.xsl -text
config-processor-demo/src/main/resources/META-INF/services/com.baxter.config.processor.xml -text
config-processor/pom.xml -text
config-processor/src/main/java/com/baxter/config/processor/AbstractProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/AbstractXSLTProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/AsIsProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/PackageUtils.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorContext.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorException.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorFactory.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorsCache.java -text
config-processor/src/main/java/com/baxter/config/processor/XSLTProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Descriptor.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Loader.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Parameter.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Processor.java -text
config-processor/src/site/resources/uml/package-structure.png -text
config-processor/src/site/resources/uml/package-structure.uxf -text
config-processor/src/site/site.xml -text
config-processor/src/site/xdoc/index.xml -text
config-processor/src/site/xdoc/packaging.xml -text
config-processor/src/test/java/com/baxter/config/processor/TestProcessorFactory.java -text
config-processor/src/test/java/com/baxter/config/processor/desc/TestLoader.java -text
config-processor/src/test/resources/com/baxter/config/processor/desc/data/test-descriptor-1.xml -text
config-processor/src/test/resources/log4j.xml -text
config-server/pom.xml -text
config-server/src/main/java/com/baxter/config/servlet/RestfulServlet.java -text
config-server/src/main/resources/log4j.xml -text
config-server/src/main/webapp/WEB-INF/web.xml -text
config-server/src/site/resources/uml/concept.png -text
config-server/src/site/resources/uml/concept.uxf -text
config-server/src/site/resources/uml/config-request-processing.png -text
config-server/src/site/resources/uml/config-request-processing.uxf -text
config-server/src/site/site.xml -text
config-server/src/site/xdoc/concept.xml -text
config-server/src/site/xdoc/index.xml -text
config-server/src/site/xdoc/protocol.xml -text
/pom.xml -text
src/bak/main/cmd/template.cmd -text
src/bak/main/java/com/baxter/config/bean/ConfigPersister.java -text
src/bak/main/java/com/baxter/config/bean/DBConnectionBean.java -text
src/bak/main/java/com/baxter/config/bean/LogsProvider.java -text
src/bak/main/java/com/baxter/config/bean/Messages.java -text
src/bak/main/java/com/baxter/config/bean/NewChannelBean.java -text
src/bak/main/java/com/baxter/config/bean/NewJmsBean.java -text
src/bak/main/java/com/baxter/config/model/log4j/AbstractLogger.java -text
src/bak/main/java/com/baxter/config/model/log4j/AbstractParametrized.java -text
src/bak/main/java/com/baxter/config/model/log4j/Appender.java -text
src/bak/main/java/com/baxter/config/model/log4j/AppenderRef.java -text
src/bak/main/java/com/baxter/config/model/log4j/Category.java -text
src/bak/main/java/com/baxter/config/model/log4j/Configuration.java -text
src/bak/main/java/com/baxter/config/model/log4j/Layout.java -text
src/bak/main/java/com/baxter/config/model/log4j/Level.java -text
src/bak/main/java/com/baxter/config/model/log4j/Logger.java -text
src/bak/main/java/com/baxter/config/model/log4j/Param.java -text
src/bak/main/java/com/baxter/config/model/log4j/Root.java -text
src/bak/main/java/com/baxter/config/model/properties/AbstractChannelGroup.java -text
src/bak/main/java/com/baxter/config/model/properties/AbstractContainer.java -text
src/bak/main/java/com/baxter/config/model/properties/AbstractValue.java -text
src/bak/main/java/com/baxter/config/model/properties/Alias.java -text
src/bak/main/java/com/baxter/config/model/properties/Entry.java -text
src/bak/main/java/com/baxter/config/model/properties/Group.java -text
src/bak/main/java/com/baxter/config/model/properties/Import.java -text
src/bak/main/java/com/baxter/config/model/properties/Properties.java -text
src/bak/main/java/com/baxter/config/model/properties/QueueGroup.java -text
src/bak/main/java/com/baxter/config/model/properties/TopicGroup.java -text
src/bak/main/java/com/baxter/config/servlet/BaxterConfigIOUtils.java -text
src/bak/main/java/com/baxter/config/servlet/Component.java -text
src/bak/main/java/com/baxter/config/servlet/ConfigurationType.java -text
src/bak/main/java/com/baxter/config/servlet/RestServlet.java -text
src/bak/main/java/com/baxter/config/servlet/StoreManager.java -text
src/bak/main/java/com/baxter/config/servlet/StoreManagerInit.java -text
src/bak/main/java/com/baxter/config/servlet/Version.java -text
src/bak/main/resources/com/baxter/config/servlet/log4j-admintool.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-blotter.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-blotterserver.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-broadcast.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-dbserver.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-fwdcontroller.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-fwdircontroller.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-fwdmonitor.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-trackwheel.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-twserver.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j-validator.xml -text
src/bak/main/resources/com/baxter/config/servlet/log4j.dtd -text
src/bak/main/resources/com/baxter/config/servlet/properties.xml -text
src/bak/main/webapp/META-INF/context.xml -text
src/bak/main/webapp/WEB-INF/web.xml -text
src/bak/main/webapp/console/db/index.jsp -text
src/bak/main/webapp/console/inc-menu.jsp -text
src/bak/main/webapp/console/inc-messages.jsp -text
src/bak/main/webapp/console/inc-save.jsp -text
src/bak/main/webapp/console/index.jsp -text
src/bak/main/webapp/console/jms/index.jsp -text
src/bak/main/webapp/console/log/index.jsp -text
src/bak/main/webapp/index.jsp -text
src/bak/main/webapp/test/go.jsp -text
src/bak/main/webapp/test/index.jsp -text
src/bak/test/java/com/baxter/config/model/AbstractJaxbTest.java -text
src/bak/test/java/com/baxter/config/model/log4j/SerDeserTest.java -text
src/bak/test/java/com/baxter/config/model/properties/SerDeserTest.java -text
src/bak/test/resources/large-sample1.xml -text
src/bak/test/resources/log4j-sample1.xml -text
src/site/resources/images/baxter_configuration.png -text
src/site/resources/images/baxter_logo.png -text
src/site/resources/uml/components.png -text
src/site/resources/uml/components.uxf -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/overview/phases.xml -text
src/site/xdoc/structure.xml -text
