* text=auto !eol
config-client/pom.xml -text
config-client/src/site/fml/faq.fml -text
config-client/src/site/site.xml -text
config-client/src/site/xdoc/index.xml -text
config-om/pom.xml -text
config-om/src/main/java/com/baxter/config/om/ConfigID.java -text
config-om/src/main/java/com/baxter/config/om/Version.java -text
config-om/src/site/site.xml -text
config-om/src/site/xdoc/index.xml -text
config-om/src/test/java/com/baxter/config/om/TestConfigID.java -text
config-om/src/test/java/com/baxter/config/om/TestVersion.java -text
config-processor-demo/pom.xml -text
config-processor-demo/src/main/resources/META-INF/config/default/hello-world.xml -text
config-processor-demo/src/main/resources/META-INF/config/default/log-mycomponent1.xml -text
config-processor-demo/src/main/resources/META-INF/config/default/log-other.component.xml -text
config-processor-demo/src/main/resources/META-INF/config/default/sub1/multiple-hello.xml -text
config-processor-demo/src/main/resources/META-INF/config/xsl/hello.xsl -text
config-processor-demo/src/main/resources/META-INF/config/xsl/inc/input-dump.xsl -text
config-processor-demo/src/main/resources/META-INF/config/xsl/log4j.xsl -text
config-processor-demo/src/main/resources/META-INF/config/xsl/logback.xsl -text
config-processor-demo/src/main/resources/META-INF/services/com.baxter.config.processor.xml -text
config-processor-pe/pom.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/jms.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-admintool.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-blotter-server.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-blotter.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-broadcast.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-dbserver(verbose).xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-dbserver.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-fwd-controller.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-fwd-ir-controller.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-fwd-monitor.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-setupdb2-for-sql-server2000.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-setupdb2.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-stress-broadcast-fwd-feeder.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-stress-broadcast.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-test-cba-fxgt-system.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-test-persistent-dcpk-receiver.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-trackwheel.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-tradabilitytool.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-tw-server.xml -text
config-processor-pe/src/main/resources/META-INF/config/default/log-price-engine-validator.xml -text
config-processor-pe/src/main/resources/META-INF/config/xsl/log4j.xsl -text
config-processor-pe/src/main/resources/META-INF/config/xsl/logback.xsl -text
config-processor-pe/src/main/resources/META-INF/services/com.baxter.config.processor.xml -text
config-processor-pe/src/site/site.xml -text
config-processor-pe/src/site/xdoc/components.xml -text
config-processor-pe/src/site/xdoc/index.xml -text
config-processor-pe/src/site/xdoc/jms-channels.xml -text
config-processor-pe/src/site/xdoc/source-layout.xml -text
config-processor/pom.xml -text
config-processor/src/main/java/com/baxter/config/processor/AbstractProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorContext.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorException.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorFactory.java -text
config-processor/src/main/java/com/baxter/config/processor/ProcessorsCache.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Descriptor.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Loader.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Parameter.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/Processor.java -text
config-processor/src/main/java/com/baxter/config/processor/desc/package-info.java -text
config-processor/src/main/java/com/baxter/config/processor/impl/AbstractXSLTProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/impl/AsIsProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/impl/BaxterProtocol.java -text
config-processor/src/main/java/com/baxter/config/processor/impl/JustLogErrorListener.java -text
config-processor/src/main/java/com/baxter/config/processor/impl/XSLTProcessor.java -text
config-processor/src/main/java/com/baxter/config/processor/repo/Repository.java -text
config-processor/src/main/java/com/baxter/config/processor/repo/RepositoryException.java -text
config-processor/src/main/java/com/baxter/config/processor/repo/URLLister.java -text
config-processor/src/main/resources/META-INF/config/xsl/log4j-base.xsl -text
config-processor/src/main/resources/META-INF/config/xsl/logback-base.xsl -text
config-processor/src/main/resources/META-INF/config/xsl/repo-base.xsl -text
config-processor/src/main/resources/META-INF/config/xsl/text-fmt.xsl -text
config-processor/src/main/resources/com/baxter/config/processor/desc/jaxb.index -text
config-processor/src/site/resources/uml/package-structure.png -text
config-processor/src/site/resources/uml/package-structure.uxf -text
config-processor/src/site/resources/xsd/baxter-config-log.xsd -text
config-processor/src/site/site.xml -text
config-processor/src/site/xdoc/config/logging.xml -text
config-processor/src/site/xdoc/config/variants.xml -text
config-processor/src/site/xdoc/descriptor.xml -text
config-processor/src/site/xdoc/index.xml -text
config-processor/src/site/xdoc/packaging.xml -text
config-processor/src/test/java/com/baxter/config/processor/TestProcessorFactory.java -text
config-processor/src/test/java/com/baxter/config/processor/desc/TestLoader.java -text
config-processor/src/test/resources/com/baxter/config/processor/desc/data/test-descriptor-1.xml -text
config-processor/src/test/resources/log4j.xml -text
config-processor/src/test/resources/xslt/merge/input-merge.xsl -text
config-processor/src/test/resources/xslt/merge/input.xml -text
config-processor/src/test/resources/xslt/merge/input1.xml -text
config-processor/src/test/resources/xslt/merge/input2.xml -text
config-server/pom.xml -text
config-server/src/main/java/com/baxter/config/servlet/RestfulServlet.java -text
config-server/src/main/resources/log4j.xml -text
config-server/src/main/webapp/WEB-INF/web.xml -text
config-server/src/site/resources/uml/concept.png -text
config-server/src/site/resources/uml/concept.uxf -text
config-server/src/site/resources/uml/config-request-processing.png -text
config-server/src/site/resources/uml/config-request-processing.uxf -text
config-server/src/site/site.xml -text
config-server/src/site/xdoc/concept.xml -text
config-server/src/site/xdoc/index.xml -text
config-server/src/site/xdoc/protocol.xml -text
config-server/src/test/jmeter/jmeter.properties -text
config-server/src/test/jmeter/plans/com-baxter-demo-test-plain-2.3.jmx -text
config-server/src/test/jmeter/plans/com-baxter-demo-test-plain.jmx -text
config-server/src/test/jmeter/plans/com-baxter-pe-test-plain.jmx -text
config-server/src/test/jmeter/plans/tp2.jmx -text
/pom.xml -text
src/site/resources/images/baxter_configuration.png -text
src/site/resources/images/baxter_logo.png -text
src/site/resources/uml/components.png -text
src/site/resources/uml/components.uxf -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/overview/phases.xml -text
src/site/xdoc/structure.xml -text
