* text=auto !eol
/pom.xml -text
src/main/java/com/baxter/config/bean/Messages.java -text
src/main/java/com/baxter/config/bean/NewChannelBean.java -text
src/main/java/com/baxter/config/bean/NewJmsBean.java -text
src/main/java/com/baxter/config/bean/PropertiesPersister.java -text
src/main/java/com/baxter/config/model/AbstractChannelGroup.java -text
src/main/java/com/baxter/config/model/AbstractContainer.java -text
src/main/java/com/baxter/config/model/AbstractValue.java -text
src/main/java/com/baxter/config/model/Alias.java -text
src/main/java/com/baxter/config/model/Entry.java -text
src/main/java/com/baxter/config/model/Group.java -text
src/main/java/com/baxter/config/model/Properties.java -text
src/main/java/com/baxter/config/model/QueueGroup.java -text
src/main/java/com/baxter/config/model/TopicGroup.java -text
src/main/java/com/baxter/config/servlet/RestServlet.java -text
src/main/java/com/baxter/config/servlet/StoreManager.java -text
src/main/java/com/baxter/config/servlet/StoreManagerInit.java -text
src/main/resources/.baxter-config/default/log4j_BlotterClient.xml -text
src/main/resources/.baxter-config/default/log4j_BlotterServer.xml -text
src/main/resources/.baxter-config/default/log4j_Broadcast.xml -text
src/main/resources/.baxter-config/default/log4j_DBServer.xml -text
src/main/resources/.baxter-config/default/properties.xml -text
src/main/webapp/META-INF/context.xml -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/console/inc-menu.jsp -text
src/main/webapp/console/inc-messages.jsp -text
src/main/webapp/console/inc-save.jsp -text
src/main/webapp/console/index.jsp -text
src/main/webapp/console/jms/index.jsp -text
src/main/webapp/console/log/index.jsp -text
src/main/webapp/index.jsp -text
src/main/webapp/test/go.jsp -text
src/main/webapp/test/index.jsp -text
src/test/java/com/baxter/config/model/PropertiesTest.java -text
src/test/resources/large-sample1.xml -text
