<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5">
 <display-name>Baxter Configuration Web Application</display-name>
 
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <security-role>
  <role-name>jms-manager</role-name>
 </security-role>
 <security-role>
  <role-name>log-manager</role-name>
 </security-role>
 <!--
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Protected JMS Resources</web-resource-name>
   <url-pattern>/console/jms/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>jms-manager</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Protected Logging Resources</web-resource-name>
   <url-pattern>/console/log/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>log-manager</role-name>
  </auth-constraint>
 </security-constraint>
  -->

	<listener>
    	<listener-class>com.baxter.config.servlet.StoreManagerInit</listener-class>
  	</listener>

	<servlet>
	 	<servlet-name>RestServlet</servlet-name>
	    <servlet-class>com.baxter.config.servlet.RestServlet</servlet-class>
	</servlet>
	    
	<servlet-mapping><servlet-name>RestServlet</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
 
</web-app>
